/* підвал */
.footer {
    background-color: #2F303A;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;

    & .container {
        display: block;
        text-align: center;
    }
    &__contacts {
        font-family: Roboto;
        font-style: normal;
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin-top: 8px;
    }

    &__address {
        margin-top: 20px;
    }
    &__box-top {
        display: block;
        flex-direction: column;
        margin: 0;
        margin-bottom: 60px;
    }
    &__box-address {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }
    &__box-invite {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    &__box-spam {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color:  getColor('background');
    margin-top: 0;
    margin-bottom: 20px;
    }
    &__social-icons {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-left: 0;
    }
    &__social-link {
        margin-top: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    &__input {
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);
        background-color: inherit;
        width: 100%;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        margin-bottom: 20px;
        padding-left: 15px;
    }
    &__icon-fly {
        fill:  getColor('background');
        margin-left: 10px;
    }

    @include media-min(tablet){
        & .container {
            display: flex;
            flex-direction: column;
        }
        
        &__box-top {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

        }
        &__box-address {
            margin-bottom: 0;
        }
        &__box-invite {
            margin: 0;
            padding: 0;
        }
        &__box-spam {
            display: block;
            align-items: center;
            margin: 0;
            width: 100%;
        }
        &__input {
            width: 450px;
        }
    }

    @include media-min(desktop){
        & .container {
            display: flex;
            flex-direction: row;
        }
        &__box-address {
            text-align: left;
            align-items: flex-start;
            margin-right: 70px;
        }
        &__box-invite {
            align-items: flex-start;
            margin-right: 93px;
        }
        &__box-spam {
            flex-direction: row;
            text-align: left;

            margin: 0;
            padding: auto;
            width: 100%;
        }
        &__feedback {
            display: flex;
            flex-wrap: nowrap;
            align-items: baseline;
            flex-direction: row;
        }
        &__input {
            width: 358px;
            margin-right: 12px;
        }
 
    }

    .footer a {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: getColor('accent');
        }
    }
    
    .footer__post {
        font-family: Roboto;
        font-style: normal;
        color: getColor('background');
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
        color: getColor('accent');
        }
    }
    .footer__contacts {
        &:hover,
        &:focus {
        color: getColor('accent');
        }
    }
    
    .footer__social-item {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        margin-top: 0px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:last-child {
            margin-right: 0;
        }
        &:hover,
        &:focus {
            background-color: getColor('accent');
            cursor: pointer;
        }
    }
    
    .footer__social-icon {
        fill:  getColor('background');
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .footer__social-item:hover &,
        .footer__social-item:focus & {  
            fill:  getColor('background');
        }
    }
    
    .footer__feedback .button {
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            background-color: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }

}
